<h2>Search Items</h2>
<input #keyword placeholder="Enter item name">
<button (click)="search(keyword.value)">Search</button>
<button (click)="showAll()">Show All</button>
<button (click)="showPopular()">Show Popular</button>

<table border="1">
  <tr><th>Name</th><th>Category</th><th>Qty</th><th>Price</th><th>Supplier</th></tr>
  <tr *ngFor="let item of results">
    <td>{{item.name}}</td>
    <td>{{item.category}}</td>
    <td>{{item.quantity}}</td>
    <td>${{item.price}}</td>
    <td>{{item.supplier}}</td>
  </tr>
</table>